@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400&family=Reenie+Beanie&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    --font-family-headings: 'DM Serif Display', serif;
    --font-family-text: 'Hanken Grotesk', sans-serif;
    --font-family-decoration: 'Reenie Beanie', cursive;

    --nav-item-width: 64px;
    width: calc(100% - 16px);
}

@keyframes title-colors {
    0% {
        color: #3a86ff;
    }
    25% {
        color: #8338ec;
    }
    50% {
        color: #ff006e;
    }
    75% {
        color: #fca311;
    }
    100%{
        color: #58FFCA;
    }
}

.decoration {
    animation-duration: 2s;
    animation-name: title-colors;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #FFFC;
    padding: 10px 0;
}

#navigation-content {
    margin: 0 auto;
    width: calc(7 * var(--nav-item-width) + 6 * 30px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-size: 1em;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        width: calc(100% - 16px);
    }

    #navigation-content {
        width: calc(100% - 16px);
        flex-wrap: wrap;
    }

    #content {
        width: 100%;
    }
}

.nav-item a {
    text-decoration: none;
}

.nav-item {
    color: #ff006e;
    fill: #ff006e;
    transition: fill, color 0.5s;
}

.nav-item svg path{
    d: path("M 12.013925,16.05891 C 10.138982,16.059794 7.909221,15.136679 6.747997,13.100751 6.1976594,12.12236 5.7958673,11.045012 5.7958673,9.9659268 c 0,-1.6454355 0.6536489,-3.2234815 1.8171473,-4.386986 1.1635045,-1.1634984 2.7415504,-1.8171473 4.3869864,-1.8171473 1.64546,0 3.223482,0.6536489 4.387004,1.8171473 1.163461,1.1635045 1.817129,2.7415505 1.817129,4.386986 0,1.0790852 -0.432779,2.1574602 -0.983147,3.1358512 -1.401842,2.112029 -3.262265,2.949958 -5.206516,2.957272 -2.95e-4,3.42e-4 -9.6e-5,-1.01e-4 -5.46e-4,-1.4e-4 z");
}

.nav-item.active {
    fill: #3a86ff;
    color: #3a86ff;
}

.nav-item svg path {
    transition: 0.5s;
}

.nav-item.active svg path{
    d: path("M 12.022324,22.963724 C 9.9546843,23.054117 5.4541524,18.273162 3.5960235,15.015378 2.7154025,13.449809 2.0724762,11.725894 2.0724762,9.9991993 c 0,-2.6329384 1.0459341,-5.1580438 2.9077024,-7.0198219 1.8617781,-1.8617682 4.3868832,-2.90770243 7.0198224,-2.90770243 2.632978,0 5.158044,1.04593423 7.019851,2.90770243 1.861709,1.8617781 2.907673,4.3868835 2.907673,7.0198219 0,1.7266947 -0.69251,3.4522527 -1.57318,5.0178217 -2.243153,3.379558 -5.20035,7.810426 -8.329793,7.947583 -0.0021,-2.53e-4 6.59e-4,-5.96e-4 -0.0022,-8.8e-4 z");
}

.nav-item a {
    color: inherit;
}

.nav-item svg {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
}

.nav-item span {
    text-decoration: none;
    font-family: var(--font-family-headings);
}

/* Main content styles */

h1 {
    font-size: 4em;
    text-align: center;
}

.decoration {
    font-family: 'Reenie Beanie', cursive;
}

#content {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
}

.text-notice { 
    font-family: var(--font-family-text);
    color: #666;
    font-weight: 300;
    font-style: italic;
}

#content section {
    width: 100%;
}

#content section p {
    font-family: var(--font-family-text);
    font-weight: 400;
}

#content section ul {
    font-family: var(--font-family-text);
    font-weight: 400;
}

.emoji-icon {
    font-size: 2em;
}

.emoji-icon-small {
    font-size: 1.5em;
}

#content p a.in-text {
    color: #118;
    text-decoration: underline dotted 1px;
}

#content section h2 span {
    vertical-align: middle;
}

#content section h2, h3, h4, h5 {
    font-family: var(--font-family-headings);
}

h4 .header-date {
    font-family: var(--font-family-text);
    font-weight: 200;
}

#content section h5 {
    font-size: 0.9em;
}



#content ul {
    list-style-image: url('images/finger.png');

}

#content ul li {
    padding: 0 0 20px 0;
}

#content ul li::marker {
    content: "👉 ";
}



#content p.list-header {
    font-style: italic;
}

section img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}

section img.small {
    max-height: 200px;
}

section div.update {
    border: 1px solid #ff006e55;
    border-radius: 5px;
    background-color: #ff006e22;
    padding: 0 1em;
    margin: 10px 0;
    box-shadow: 0px 0px 10px #ff006e55;
}

section div.update h3{
    font-style: italic;
    color: #ff006e;
}

footer {
    min-height: 70vh;
}

footer img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}

footer p {
    font-family: var(--font-family-decoration);
    font-size: 4em;
    text-align: center;
}


.entry-list h3 {
    font-family: var(--font-family-headings);
}

.entry-list img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    object-position: 10%;
}

.entry-details {
    font-size: 0.8em;
    color: #333;
}

/* Debug only - can be removed when ready */

.marker {
    width: 20px;
    height: 20px;
    background-color: red;
}